<!-- <div class="container__menu-barra">
  <ul>
    <li><a href="https://www.linkedin.com/in/joão-pedro-santos-395a90334">Likedin</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/Tederr">Github</a></li>
    <li><span>•</span></li>
    <li><a href="">Instagram</a></li>
  </ul>
</div> -->

<header>
  <nav class="nav__barra">

    <div class="logo">

      <img src="../../../favicon.ico" alt="">
      <a href=""><h3>Blog Agular</h3></a>

    </div>

    <div class="lista-nav">

      <ul>

        <li class="lista-link"><a href="https://www.linkedin.com/in/joão-pedro-santos-395a90334" class="link">Likedin</a></li>
        <li class="lista-link"><a href="https://github.com/Tederr" class="link">Github</a></li>
        <li class="lista-link"><a href="" class="link">Instagram</a></li>

      </ul>

    </div>

    <div class="menu__botao">
      <button><a href="#">HOME</a></button>
    </div>

  </nav>
</header>


