
<app-menu-titulo></app-menu-titulo>

<div class="container__artigos">

  <div class="artigos__principal">
    <app-card-central
    id="1"
    fotoCapa="https://assets.volkswagen.com/is/image/volkswagenag/1920x1080_5?Zml0PWNyb3AsMSZmbXQ9d2VicCZxbHQ9Nzkmd2lkPTE5MjAmaGVpPTEwODAmYWxpZ249MC4wMCwwLjAwJmJmYz1vZmYmM2E1Nw=="
    cardtitulo="Novo modelo de jetta"
    cardDescricao="O novo Jetta apresenta um design elegante e moderno,
                   combinando linhas aerodinâmicas com acabamentos sofisticados que destacam sua presença nas ruas.
                   Sob o capô, oferece opções de motorização potentes e eficientes,
                   incluindo versões híbridas para quem busca desempenho aliado à sustentabilidade."
    ></app-card-central>

    <app-card-central
    id="2"
    fotoCapa="https://www.chevrolet.com.br/content/dam/chevrolet/south-america/brazil/portuguese/index/portable-navigation/jellys/site-jpg-404-161.jpg?imwidth=1920"
    cardtitulo="S10 atola no riacho"
    cardDescricao="Uma S10 indo a 400km por hora, atola em um riacho em carapicuipa,
                   com o motorista comendo um sanduiche e o passageiro comendo um bolo de chocolate."
    ></app-card-central>
  </div>

  <div class="artigos__comuns">

    <app-card-tipicos
    id="3"
    cardTitulo="Nova versão de onix"
    fotoCapa="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWDDei2GPBm5qlIlZEPlyH6dfXKkcMsZhPbg&s"
    ></app-card-tipicos>

    <app-card-tipicos
    id="4"
    cardTitulo="Bugatti eletrica? Saiba mais"
    fotoCapa="https://cdn.pixabay.com/photo/2012/05/29/00/43/car-49278_640.jpg"
    ></app-card-tipicos>

    <app-card-tipicos
    id="5"
    cardTitulo="Qual e o melhor carro para viajar?"
    fotoCapa="https://cdn.pixabay.com/photo/2019/07/07/14/03/fiat-500-4322521_640.jpg"
    ></app-card-tipicos>

    <app-card-tipicos
    id="6"
    cardTitulo="Saiba como se torna placa preta"
    fotoCapa="https://cdn.pixabay.com/photo/2016/09/11/10/02/renault-juvaquatre-1661009_640.jpg"
    ></app-card-tipicos>

  </div>
</div>
