.container__card-central {
  width: 400px;
  height: 500px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.card-central__titulo{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-central__titulo > h1 > a{
  font-size: 25px;
  color: goldenrod;
}

.card-central__descricao{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-central__descricao > p > a{
  font-size: 13px;
  color: gray;
}

.card-central__foto > img{
  width: 100%;
  min-width: 398px;
  height:  250px;
}
